{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $choices := list "work" "client" "home" "server" -}}
{{- $location := promptChoiceOnce . "location" "Location" $choices -}}
{{- $oplogin := promptStringOnce . "oplogin" "1Password login" -}}
{{- $opsecret := promptStringOnce . "opsecret" "1Password secret key" -}}
{{- $opserviceaccount := promptStringOnce . "opserviceaccount" "1Password service account token" -}}
{{- $githubuser := promptStringOnce . "githubuser" "GitHub username" -}}
{{- $geminikey := "" -}}
{{- if eq $location "home" -}}
{{- $geminikey := promptStringOnce . "geminikey" "Gemini API Key" -}}
{{- end -}}
{{ if ne $location "home" }}
tempDir = ".local/tmp"
{{ end }}
[git]
  autoCommit = true
  autoPush = true
[edit]
  command = "nvim"
  apply = true
[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    location = {{ $location | quote }}
    oplogin = {{ $oplogin | quote }}
    opsecret = {{ $opsecret | quote }}
    opserviceaccount = {{ $opserviceaccount | quote }}
    geminikey = {{ $geminikey | quote }}
    githubuser = {{ $githubuser | quote }}
[onepassword]
    prompt = false
    mode = "service"
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"

