{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $choices := list "work" "client" "home" "server" -}}
{{- $location := promptChoiceOnce . "location" "Location" $choices -}}
{{- $oplogin := promptStringOnce . "oplogin" "1Password login" -}}
{{- $opsecret := promptStringOnce . "opsecret" "1Password secret key" -}}
{{- $geminikey := promptStringOnce . "geminikey" "Gemini API Key" -}}
[git]
  autoCommit = true
  autoPush = true
[edit]
  command = "nvim"
  apply = true
[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    location = {{ $location | quote }}
    oplogin = {{ $oplogin | quote }}
    opsecret = {{ $opsecret | quote }}
    geminikey = {{ $geminikey | quote }}
[onepassword]
    prompt = false
[hooks.read-source-state.pre]
    command = "sh .local/share/chezmoi/.install-password-manager.sh"
