{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $choices := list "work" "home" "server" -}}
{{- $location := promptChoiceOnce . "location" "Location" $choices -}}
{{- $opsecret := promptStringOnce . "opsecret" "1Password secret key" -}}
[git]
  autoCommit = true
  autoPush = true
[edit]
  command = "nvim"
  apply = true
[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    location = {{ $location | quote }}
    opsecret = {{ $opsecret | quote }}
