## Start with path so everything else below works
export PATH=~/bin:~/.local/bin:/usr/local/opt/vim/bin:/usr/local/opt/ruby/bin:/usr/local/opt/git/bin/:/usr/local/opt/gnu-tar/libexec/gnubin:$PATH

export BREWPATH=/opt/homebrew
export PATH=$PATH:$BREWPATH/bin
export XDG_CACHE_HOME=~/.cache
export XDG_CONFIG_HOME=~/.config
export OP_SERVICE_ACCOUNT_TOKEN={{ .opserviceaccount }}
{{ if eq .location "home" -}}
export GEMINI_API_KEY={{ .geminikey }}
{{ end -}}
~/bin/run_once_daily.sh
{{ if eq .location "client" -}}
export PATH=$HOME/.jenv/bin:$PATH
eval "$(jenv init -)"
{{ end -}}
. "$HOME/.cargo/env"
# User configuration
## Exports
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
{{ if eq .chezmoi.os "darwin" }}
export PATH=$PATH:/Applications/WezTerm.app/Contents/MacOS
export LDFLAGS="$LDFLAGS -L${BREWPATH}/opt/ruby/lib"
export CPPFLAGS="$CPPFLAGS -I${BREWPATH}/opt/ruby/include"
export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/opt/ruby/lib/pkgconfig"
{{ else }}
export LDFLAGS="$LDFLAGS -L/usr/local/opt/ruby/lib"
export CPPFLAGS="$CPPFLAGS -I/usr/local/opt/ruby/include"
export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/usr/local/opt/ruby/lib/pkgconfig"
{{ end }}
export TERM=xterm-256color
export BAT_THEME="Nord"

if command -v bat 2>&1 >/dev/null; then
  alias cat="bat"
  export MANPAGER="sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"
fi
if command -v batcat 2>&1 >/dev/null; then
  alias cat="batcat"
  export MANPAGER="sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | batcat -p -lman'"
fi
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
export BROWSER=wslview
export PATH=$PATH:/opt/nvim-linux-x86_64/bin
{{   end }}
{{ end }}
## Aliases
alias ls='lsd'
alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'
alias dockerclear='docker stop $(docker ps -aq) && docker rm $(docker ps -aq)'
alias dockercleardangling='docker rmi $(docker images -q -f dangling=true)'
alias imgcat="wezterm imgcat"
alias oo="cd $HOME/Documents/Obsidian/Personal/"
alias nvim-light='NVIM_APPNAME="nvim-light" nvim'
mkcd () {
  \mkdir -p "$1"
  cd "$1"
}

tempe () {
  cd "$(mktemp -d)"
  chmod -R 0700 .
  if [[ $# -eq 1 ]]; then
    \mkdir -p "$1"
    cd "$1"
    chmod -R 0700 .
  fi
}
## Evals
eval $(thefuck --alias)

[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm

## Functions
dockerinfo() {
    docker inspect $1 | jq '.[0].Config, .[0].Mounts'
}

listening() {
    if [ $# -eq 0 ]; then
        sudo lsof -iTCP -sTCP:LISTEN -n -P
    elif [ $# -eq 1 ]; then
        sudo lsof -iTCP -sTCP:LISTEN -n -P | grep -i --color $1
    else
        echo "Usage: listening [pattern]"
    fi
}

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else if (eq .chezmoi.os "darwin") -}}
eval "$(brew shellenv)"
{{ end -}} 
batdiff() {
    git diff --name-only --relative --diff-filter=d | xargs cat --diff
}
setopt interactive_comments
zle -N menu-search
zle -N recent-paths
zstyle '*:compinit' arguments -D -i -u -C -w
# source ~/.config/zsh/gruvbox-zsh-syntax-highlighting.zsh
test -r ~/.config/zsh/dir_colors && eval $(dircolors ~/.config/zsh/dir_colors)
source ~/.config/zsh/nord-fzf.sh
source $BREWPATH/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $BREWPATH/share/zsh-autocomplete/zsh-autocomplete.plugin.zsh
source $BREWPATH/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{{ if eq .location "home" -}}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/Users/sdickinson/miniconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/Users/sdickinson/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/Users/sdickinson/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="/Users/sdickinson/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
export PNPM_HOME="/Users/sdickinson/Library/pnpm"
{{ else if eq .chezmoi.os "linux" -}}
export PNPM_HOME="/home/sdickinson/.local/share/pnpm"
{{ end -}}
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
unsetopt menu_complete   # do not autoselect the first completion entry
unsetopt flowcontrol
setopt auto_menu         # show completion menu on successive tab press
setopt complete_in_word
setopt always_to_end

eval "$(oh-my-posh init zsh --config ~/.config/oh-my-gruvbox.omp.json)"
bindkey              '^I' menu-select
bindkey "$terminfo[kcbt]" menu-select
bindkey -M menuselect '^o' accept-and-infer-next-history
bindkey -M menuselect              '^I'         menu-complete
bindkey -M menuselect "$terminfo[kcbt]" reverse-menu-complete
bindkey -a \
    "^P"    .up-history \
    "^N"    .down-history \
    "k"     .up-line-or-history \
    "^[OA"  .up-line-or-history \
    "^[[A"  .up-line-or-history \
    "j"     .down-line-or-history \
    "^[OB"  .down-line-or-history \
    "^[[B"  .down-line-or-history \
    "/"     .vi-history-search-backward \
    "?"     .vi-history-search-forward \
    #
zstyle ':completion:*:*:*:*:*' menu select
zstyle ':completion:*:cd:*' tag-order local-directories directory-stack path-directories
zstyle ':completion:*' completer _complete _complete:-fuzzy _correct _approximate _ignored _expand

zstyle ':autocomplete:*complete*:*' insert-unambiguous yes
zstyle ':completion:*:*' matcher-list 'm:{[:lower:]-}={[:upper:]_}' '+r:|[.]=**'
zstyle ':completion:*' list-colors ''
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path "$XDG_CACHE_HOME/zsh/.zcompcache"
zstyle ':completion:*' special-dirs true
zstyle ':completion:*' list-colors ''
zstyle ':completion:*:*:kill:*:processes' list-colors '=(#b) #([0-9]#) ([0-9a-z-]#)*=01;34=0=01'
# Don't complete uninteresting users
zstyle ':completion:*:*:*:users' ignored-patterns \
        adm amanda apache at avahi avahi-autoipd beaglidx bin cacti canna \
        clamav daemon dbus distcache dnsmasq dovecot fax ftp games gdm \
        gkrellmd gopher hacluster haldaemon halt hsqldb ident junkbust kdm \
        ldap lp mail mailman mailnull man messagebus mldonkey mysql nagios \
        named netdump news nfsnobody nobody nscd ntp nut nx obsrun openvpn \
        operator pcap polkitd postfix postgres privoxy pulse pvm quagga radvd \
        rpc rpcuser rpm rtkit scard shutdown squid sshd statd svn sync tftp \
        usbmux uucp vcsa wwwrun xfs '_*'
# ... unless we really want to.
zstyle '*' single-ignored show
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
   source <(fzf --zsh)
{{   else }}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{   end }}
{{ else }}
  source <(fzf --zsh)
{{ end }}

# source <(wezterm shell-completion --shell zsh)

{{ if eq .location "client" -}}
source ~/.aws/awslogin.sh
function gh-java-login() {
  export GITHUB_TOKEN=$(gh auth token)
  export GITHUB_ACTOR="{{.githubuser}}"
}  
azure-artifact-login () {
  if [[ "$(\grep -s 'machine pkgs.dev.azure.com' ~/.netrc)" == "" ]] ; then
    echo -e "\nmachine pkgs.dev.azure.com login api password to-be-replaced" >> ~/.netrc
  fi
  az account get-access-token \
    --resource 499b84ac-1321-427f-aa17-267ca6975798 \
    --query accessToken \
    --output tsv \
  | xargs -S4096 -I {} \
    sed -i '' 's/\(machine pkgs.dev.azure.com login api password \).*/\1{}/g' ~/.netrc
}

{{ end -}}
eval "$(zoxide init zsh)"

