#!/bin/bash
{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
if command -v brew 2>&1 >/dev/null; then
  brew update
  brew upgrade
else
  {{ if eq .chezmoi.os "linux" -}}
  {{ if (.chezmoi.osRelease.id | lower | contains "debian") -}}
  sudo apt install unzip 
  {{ end -}}
  {{ if (.chezmoi.osRelease.id | lower | contains "arch") -}}
  sudo pacman -S unzip 
  {{ end -}}
  {{ end -}}
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

brew bundle --file=/dev/stdin <<EOF
{{  range .packages.core.brew -}}
brew {{ . | quote }}
{{  end -}}
{{  range .packages.core.cask -}}
cask {{ . | quote }}
{{  end -}}
{{  if (eq .location "home") -}}
{{    range .packages.home.brew -}}
brew {{ . | quote }}
{{    end -}}
{{    range .packages.home.cask -}}
cask {{ . | quote }}
{{    end -}}
{{  else if eq .location "work" -}}
{{    range .packages.work.brew -}}
brew {{ . | quote }}
{{    end -}}
{{    range .packages.work.cask -}}
cask {{ . | quote }}
{{    end -}}
{{  else if eq .location "server" -}}
{{    range .packages.server.brew -}}
brew {{ . | quote }}
{{    end -}}
{{    range .packages.server.cask -}}
cask {{ . | quote }}
{{    end -}}
{{  end -}}
EOF
{{ else -}}
    sudo apt update &&
    sudo apt install -y {{ join " " .packages.core.apt }} {{ join " " .packages.server.apt }}
{{ end -}}
eval $(op account add --address my.1password.com --email {{ .oplogin }} --secret-key {{ .opsecret }} --signin)

{{ if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
    sudo add-apt-repository ppa:wslutilities/wslu
    sudo apt install -y {{ join " " .packages.wsl.apt }}
{{ end -}}
{{ if ne .location "server" -}}
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
  op read "op://Private/Sdickinson Server Private Key/public key" >~/.ssh/id_ed25519_personal.pub
  op read "op://Private/Shine Github Key/public key" >~/.ssh/id_ed25519_shine.pub
  op read "op://Private/Reece Github Key/public key" >~/.ssh/id_ed25519_reece.pub
{{ end -}}
