samreece {{ onepasswordRead "op://general-service-account/Reece Github Key/public key" }}
sam {{ onepasswordRead "op://general-service-account/General SSH Key/public key" }}
sam-shine {{ onepasswordRead "op://general-service-account/GitHub - Shine Solutions/public key" }}
