{{ if eq .location "home" -}}
Include ~/.orbstack/ssh/config
Host midway-station
  Hostname midway-station
  User biqu
  IdentityFile ~/.ssh/id_ed25519
Host jumper
  Hostname jumper
  User sdickinson
  IdentityFile ~/.ssh/id_ed25519
{{ end -}}
{{ if ne .location "server" -}}
Host github.com
  AddKeysToAgent yes
{{   if eq .location "work" -}} 
  IdentityFile ~/.ssh/id_ed25519_shine
{{   else -}}
  IdentityFile ~/.ssh/id_ed25519_personal
{{   end -}}
Host personal.github.com
  Hostname github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519_personal
Host work.github.com
  Hostname github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519_shine
Host sdickinson.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519
Host 172.236.35.111
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519
{{ end -}}
