{{ if ne .location "server" -}}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end -}}
{{ if eq .location "home" -}}
Include ~/.orbstack/ssh/config
Host midway-station
  Hostname midway-station
  User biqu
Host jumper
  Hostname jumper
  User sdickinson
Host main.server.sdickinson.com
  User sdickinson
{{ end -}}
{{ if ne .location "server" -}}
Host github.com
  IdentitiesOnly yes
{{   if eq .location "work" -}} 
  IdentityFile ~/.ssh/id_ed25519_shine.pub
{{   else -}}
  IdentityFile ~/.ssh/id_ed25519_personal.pub
{{   end -}}
Host personal.github.com
  Hostname github.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519_personal.pub
Host work.github.com
  Hostname github.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_ed25519_shine.pub
Host sdickinson.com
  User sdickinson
{{ end -}}
