return {
  {
    "YannickFricke/codestats.nvim",
    "nvim-lua/plenary.nvim",
    config = function()
      require("codestats-nvim").setup({
        {{ if eq .chezmoi.os "linux" -}}
          {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
            token = "SFMyNTY.U21GNmVsaFEjI01qTTNOekE9.P_ShLs6TICQxUpM9l7Ip3AaPeXeyujb2-enGU-6DsnY",
          {{ end -}}
        {{ else if eq .chezmoi.os "darwin" -}}
          {{ if eq .location "work" -}}
            token = "SFMyNTY.U21GNmVsaFEjI01qTTNORE09.2P7d7G_HJiZX2-FNEiehHDlcNjJPWDF6E2q7x3q24BE",
          {{ else -}}
            token = "SFMyNTY.U21GNmVsaFEjI01qTTNOREE9.nqnexwCLuxdPrtZlFrq6ncJY90kyXFipaJAhgGEo9es",
          {{ end -}}
        {{ end -}}
      })
    end,
  },
}
